.masInfo{
    margin-top: 5%;
    margin-left: 5%;
    background-color: antiquewhite;
    width: 400px;
    height: 400px;
    padding: 10px;
    word-wrap: break-word;

}

.imagen img{
    height: 200px;
    margin-bottom: 10px;
}


.masInfo label{
    font-weight: bold;
}

.masInfo p {
    display: inline;
}

