body {
    margin: 0;
    padding: 0;
}


#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


.leaflet-popup-content-wrapper{
    width: 360px;
    height: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: height 0.25s linear;
}

.expanded{
    height: 480px;
}

.leaflet-popup-content{
    width: auto;
    height: auto;
}

.leaflet-popup-content p{
    margin-bottom: 4px;
    margin-top: 1px;
}

.masInfo{
    width: auto;
    height: auto;
    background-color: white;
    word-wrap: break-word;  
}

.imagen img{
    margin-bottom: 10px;
}


.masInfo label{
    font-weight: bold;
    color: #002b4c;
}


.masInfo h4{
    font-weight: bold;
    margin-bottom: 2%;
}





